* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5% 0 5%;
    font-size: 1.75em;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
  }
  
  .section {
    margin: 1%;
    position: relative;
    background-color: lightgray;
    border: 1px solid black;
  }
  
  .section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 0;
    border: 1px solid black;
    width: 40%;
    height: 20%;
    font-size: 1.25em;
  }

  .section h2.chicken {
    background-color: pink;
  }

  .section h2.beef {
    color: white;
    background-color: brown;
  }

  .section h2.sushi {
    background-color: lemonchiffon;
  }
  
  .section p {
    clear: both;
    padding: 3%;
    font-size: 1em;
  }

  @media (min-width: 992px) {
    .section {
      width: 30%;
    }
  }

  @media (max-width: 991px) {
    .section {
      width: 48%;
    }
    .section:nth-child(3n) {
      width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .section {
      width: 100%;
    }
  }